*{
    
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
  background-color: black;
  color: white;
}

.footer-logo {
    width: 100px;
    }

footer {
  
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 20px;
  background-color: black;
  z-index: 1000; // ensures it stays above content
}



.socials {
    display: flex;
    gap: 40px;
    margin-top: 10px;

    i{
        font-size: 50px;
        color: white;
    }
}

.copyright {
    margin-top: 10px;
    font-size: smaller;
    color: #888;
}

@media (max-width: 600px) {

footer{
    padding: 10px;
}

    .footer-logo {
        width: 40px;
    }
    .socials {
        gap: 20px;
    }

    .socials i {
        font-size: 30px;
    }
    .copyright {
        font-size: xx-small;
    }
}