.developer-projects {
        max-width: fit-content;
        margin: 10px 0;
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
        display: inline-block;
        padding: 10px 20px;
        background-color: #0b8a55;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        transition: background-color 0.3s ease;

        .repo-card {
            background-color: #2f9dc96b;
            border: 1px solid #fff;
            display: flex;
            flex-direction: column;
            gap: 20px;
            padding: 20px;
            border-radius: 10px;
            margin: 10px 0;
            transition: transform 0.5s ease, background-color 0.5s ease;
            box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
        }

    h1 {
        text-align: center;
        font-family: 'Tourney', sans-serif;
        font-weight: 500;
        color: #1d0e1ba4;
        font-size: 3em;

        
    }
    h2 {
        text-align: center;
        font-size: 1.75em;
    }
    p{
        text-align: center;
        font-size: 1.2em;
        margin-top: 20px;
    }

    button{
        display: block;
        margin: 0 auto;
    }

    a {
    color: inherit; /* Inherit the color from the parent element */
    text-decoration: none; /* Remove underline */

    
}

        &:hover {
            background-color: #006648;
            transform: translateY(-2px);

            h1{
                color: #f122d6e3;
                font-weight: 900;
            }
        }
    .projects-button {
        margin-top: 10px;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: #ffffff;
  color: #0b8a55;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover {
    background-color: #f0f0f0;
    transform: translateY(-2px);
    color: #c917b1a4;
  }

    }
}

@media (max-width: 600px) {
    .developer-projects {
        font-size:x-small;
        width: 100%;
        padding: 10px;
    }
}

