@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Electrolize&family=Tourney:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'Electrolize', sans-serif;
}

