.highlights {
        margin: 10px 0;
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
        display: inline-block;
        padding: 10px 20px;
        background-color: #0b8a55;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        transition: background-color 0.3s ease;

        h1 {
        text-align: center;
        font-family: 'Tourney', sans-serif;
        font-weight: 500;
        color: #1d0e1ba4;
        font-size: 3em;

        
    }
    h2 {
        text-align: center;
        font-size: 1.75em;
    }
    p{
        text-align: center;
        font-size: 1.2em;
        margin-top: 20px;
    }

    button{
        display: block;
        margin: 0 auto;
    }

        &:hover {
            background-color: #006648;
            transform: translateY(-2px);

            h1{
                color: #f122d6e3;
                font-weight: 900;
            }
        }
    }

    @media (max-width: 600px) {
        .highlights {
            padding: 8px 16px;

            h1 {
                font-size: 2em;
            }

            h2 {
                font-size: 1.25em;
            }

            p {
                font-size: 1em;
            }
        }
    }