<div class="resume">
    <h1>Resume</h1>
    <h2><i class="fafa-lightbulb"></i> Lifelong Thinker</h2>
    <p>Stemming from my childhood I've always asked the Whys and sought out innovative solutions to recurring problems.</p>
    <h2><i class="fa fa-users"></i> Born Leader</h2>
    <p>Striving towards excellence and inspiring that vision in others is my underlying principle. Being great is applauded, Teaching greatness is revered.</p>
    <a 
  href="assets/Ryan-Rutledge-Resume.pdf"
  download
  class="resume-button"
>
  Download Resume
</a>

    </div>
